/*
 Author: Jakub Štellner
 Date: 5.11.2020
*/

/*

	Tablet: 991;
	Mobile: 600;


*/

/* Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
/* Global */
body {
	font-family: 'Open Sans', sans-serif;
}
img {
	max-width: 100%;
}
h2 {
	font-size: 34px;
	font-weight: 600;
}
p.start {
	font-size: 24px;
	font-weight: 200;
	max-width: 820px;
	margin-top: 20px;
}
.desc-small {
	font-size: 24px;
	font-weight: 200;
	max-width: 820px;
	margin-top: 20px;
}

/* Bootstrap */
.container-fluid{
 max-width: 1920px;
}
@media (min-width: 1340px) {
		.container {
	    max-width: 1300px;
		}
}
.container-header {
	margin: auto;
}
@media (min-width: 1440px) {
	.container-header {
	    max-width: 1400px;
	}
}
@media (min-width: 1540px) {
	.container-header {
	    max-width: 1500px;
	}
}


/* Header */
/*#preloader {
	width: 100%;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background: black;
	transition: all 0.75s ease;
}*/
header {
	z-index: 999;
}
.fixed {
  position: fixed;
  top:0; left:0;
  width: 100%;
	-webkit-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.25);
	background: white;
}
nav.bg-light {
	background: none!important;
}
nav .navbar-collapse {
	justify-content: flex-end;
	padding: 0px 30px;
}
nav ul li a {
	font-size: 15px;
	color: black!important;
}
nav ul li a:hover {
	font-weight: 700;
}
.navbar {
	padding: 0.5rem 1rem;
}
.fancy-space {
	padding: 0px 2.5rem 0px 1.5rem;
}
.language a {
	color: black;
	font-size: 15px;
}
.language .language-picker span:first-child {
	margin-right: 5px;
}
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 1.5rem;
	    padding-left: 1.5rem;
	}
}
@media (max-width: 991px) {
	.navbar-brand {
		max-width: 150px;
	}
	.fancy-space {
		display: none;
	}
	.nav-item {
		margin: auto;
		padding: 15px 0px;
	}
	.language {
		display: flex;
	}
	header {
		position: fixed;
	  top:0; left:0;
	  width: 100%;
		-webkit-box-shadow: unset!important;
    -moz-box-shadow: unset!important;
    box-shadow: unset!important;
		background: none!important;
	}
	.container-header {
		padding: 0;
	}
	.navbar {
		padding: 0;
	}
	#navbarNav {
		padding-bottom: 30px;
		border-bottom-left-radius: 25%;
		border-bottom-right-radius: 25%;
		-webkit-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.25);
		box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.25);
		background: white;
	}
	.nav-top {
		background: white;
		display: flex;
		justify-content: space-around;
		width: 100%;
		padding: 1rem 1rem;
		-webkit-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.25);
		box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.25);
		z-index: 1;
	}
	.language {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
}
/* Start */
.start {
	text-align: center;
	margin-top: 80px;
}
.start.margin {
	margin-top: 140px;
}
.start h1 {
	font-size: 61px;
	color: #363E44;
	max-width: 950px;
	margin: auto;
	margin-top: 20px;
}
/* HP Banner */
.hp-banner {
	margin-top: 120px;
}
.hp-banner table {
	width: 100%;
	max-width: 1750px;
	margin: auto;
}
.hp-banner table tr td {
	padding: 15px;
}
.hp-banner .head {
	width: 482px;
	max-width: 100%;
	vertical-align: bottom;
	width: 30%;
}
.hp-banner .white-mercedes {
	width: 725px;
	max-width: 100%;
	width: 43%;
}
.hp-banner .black-mercedes {
	width: 444;
	max-width: 100%;
	width: 27%;
}
.hp-banner .shoe {
	width: 447px;
	max-width: 100%;
	width: 30%;
}
.hp-banner .blue {
	width: 764px;
	max-width: 100%;
	width: 43%;
}

.masonry-item {
	display: flex;
	align-items: flex-end;
}
#masonry img {
	width: 100%;
	-webkit-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.75);
}
#masonry {
	width: 100%;
	flex-direction: row;
	display: flex;
}
#left-mansory {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#right-mansory {
	width: 30%;
	justify-content: center;
}
#head {
	width: 33%;
}
#white-mercedes {
	width: 63%;
}
#black-mercedes {
	width: 100%;
	margin-top: 53px;
    padding-left: 8px;
}
#blue {
	width: 60%;
	margin-top: 20px;
}
#shoe {
	width: 35%;
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
}

@media (max-width: 600px) {
	.masonry-item {
		width: 100%!important;
		margin: 10px 0px!important;
	}
	#masonry {
		flex-direction: column;
	}
	#right-mansory {
		width: 100%;
	}
	#left-mansory {
		width: 100%;
	}
}

.animated-icon1, .animated-icon2, .animated-icon3 {
	width: 24px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
.navbar-toggler {
	outline: none!important;
	border: none!important;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	right: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.navbar-toggler .menu-text {
	font-weight: 200;
	font-size: 14px;
	margin-right: 15px;
	text-transform: uppercase;
	color: black;
	font-family: 'Montserrat', sans-serif;
}
.animated-icon1 span {
	background: black;
}

.animated-icon1 span:nth-child(1) {
	top: 0px;
	max-width: 22px;
}

.animated-icon1 span:nth-child(2) {
	top: 8px;
	max-width: 17px;
}

.animated-icon1 span:nth-child(3) {
	top: 16px;
}
.box {
	padding: 5px 10px;
	background: black;
	position: #1d1d1d;
	z-index: 500;
	display: none;
	color: #d1d1d1;
	align-items: center;
	position: absolute;
}
@media (max-width: 991px) {
	.start {
		margin-top: 120px;
	}
}
@media (min-width: 600px) {
	.animated-icon1 span:nth-child(1) {
		top: 0px;
		max-width: 23px;
	}

	.animated-icon1 span:nth-child(2) {
		top: 8px;
		max-width: 19px;
	}

	.animated-icon1 span:nth-child(3) {
		max-width: 13px;
		top: 16px;
	}
	.menu-text {
		display: none;
	}
}


/* About */
.about {
	padding: 70px 0px;
}
.about__row {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 50px;
}
.about .info-box {
	width: 100%;
	position: relative;
	max-width: 450px;
	padding: 50px 40px;
	background: white;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
	margin-bottom: 40px;
}
.about .decorate-box {
	height: 157px;
	width: 500px;
	padding-right: 100px;
	display: flex;
	align-items: center;
	position: absolute;
	z-index: -1;
	justify-content: flex-end;
	right: -135px;
	bottom: 50px;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
}
.about .item__left {
	position: relative;
}
.about .info-box::after {
	content: url(../images/tecky-pozadi.png);
	position: absolute;
	left: -70px;
    bottom: -80px;
	z-index: -1;
}
.info-box h3 {
	font-size: 20px;
	font-weight: 600;
}
.info-box p {
	font-size: 15px;
}
.info-box ul {
	padding: 0;
}

.info-box ul li {
	list-style: none;
	position: relative;
	padding-left: 50px;
	margin-top: 40px;
}
.info-box ul li:first-child {
	margin: 0;
}
.info-box ul li::before {
	content: "";
	border-radius: 50px;
	width: 13px;
	height: 13px;/* Add content: \2022 is the CSS Code/unicode for a bullet */
  background: #EC5959; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
	position: absolute;
	left: 0;
	top: 4px;
}
.black-button-shadow {
	padding: 15px 30px;
	background: #1D1D1D;
	color: white;
	position: absolute;
	bottom: -25px;
	right: 20%;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(29, 29, 29, 0.3);
  -moz-box-shadow: 5px 5px 0px 0px rgba(29, 29, 29, 0.3);
  box-shadow: 5px 5px 0px 0px rgba(29, 29, 29, 0.3);
	font-weight: 600;
  transition: all 0.5s ease;
}
.black-button-shadow:hover {
	color: white;
	text-decoration: none;
	transform: translate(5px,5px);
	box-shadow: unset;
}
.item__right {
	max-width: 520px;
}
.item__right .desc {
	margin-top: 15px;
}
.parag {
	margin-left: 35px;
	padding-left: 15px;
	font-weight: 300;
	font-style: italic;
	color: #929292;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}
.parag::after {
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	width: 1px;
	height: 100%;
	background: #929292;
}
.person {
	margin-left: 30px;
	display: flex;
	align-items: center;
}
.person p {
	margin: 0;
}
.person .person__text {
	margin-left: 15px;
}
.person .name {
	font-size: 20px;
	font-style: bold;
	font-weight: 700;
}
.person .position {
	color: #929292;
}
@media (max-width: 1200px) {
	.about__row {
		flex-direction: column;
	}
	.about__row .about__item.left {
		order: 2;
	}
	.about__row .about__item.right {
		order: 1;
	}
	.item__left {
		display: flex;
		justify-content: center;
		margin-bottom: 70px;
	}
	.item__right {

		margin: 30px auto;
	}
}
@media (max-width: 750px) {
	.about .decorate-box {
		display: none;
	}
}

/* Project */
#project {
	padding: 70px 0px;
}
#project hr {
	color: #121212;
	width: 90%;
	background: #121212;
	position: relative;
}
#project hr::after {
	content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  transform: rotate(45deg);
  top: -15px;
  left: 10%;
  border-right: 1px solid black;
  background: white;
  border-bottom: 1px solid black;
}
.project__top {
	margin-top: 50px;
}
#project .project__content {
	flex-wrap: wrap;
	display: flex;
}
#project .project__item.image {
	flex: 1 25%;
	display: flex;
	justify-content: center;
}
#project .project__item.text {
	flex: 2 50%;
	display: flex;
	padding: 0px 20px;
}
.project__image {
	max-width: 270px;
	display: flex;
	justify-content: center;
	padding: 40px;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.15);
 	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.15);
	flex-direction: column;
	margin: 20px 15px;
}
.project__image--logo {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.project__image--text {
	text-align: center;
}
.project__image--text p {
	color: #363E44;
	margin: 0;
	font-size: 15px;
}
.project__content {
	margin-top: 90px;
}
.project__item.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.project__item.text h3 {
	font-size: 34px;
	font-weight: 600;
	margin-top: 10px;
}
.project__item.text p {
		max-width: 507px;
}
.show-more-div {
	margin-top: 40px;
	width: 150px;
	margin-left: auto;
}
.button-more svg {
	position: relative;
}
.button-more svg g {
		transition: 2s all ease;
}
.button-more:hover svg g {
	stroke-dasharray:372;
}
.show-more-div .text {
    position: relative;
    top: -42px;
		text-align: center;
		color: black;
		font-style: italic;
}
.button-more:hover {
	text-decoration: none;
}


@media (max-width: 1200px) {
	#project .project__item.image {
		flex: 1 50%;

	}
	#project .project__item.text {
		flex: 2 100%;
		margin: 40px 0px;
	}
}
@media (max-width: 600px) {
	.project__image--text p {
		font-size: 12px;
	}
	.project__image--logo img {
		width: 70px;
	}
	.project__image {
		padding: 20px;
	}
}

footer {
	background: #121212;
	padding: 70px 70px 20px 70px;
	color: white;
	position: relative;
}
.footer__content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	display: flex;
	align-items: center;
	position: relative;
}
.footer__content p {
	margin: 0;
	line-height: 1.8;
}
.footer__content p a {
	color: white;
}
.social__text {
	text-align: right;
}
.social {
	width: 100%;
	max-width: 300px;
	margin-left: 40px;
}
.icon__wrap {
	margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
	flex-wrap: wrap;
}
.icon__wrap a {
	text-decoration: none;
}
.icon__wrap .icon {
	padding-top: 20px;
	padding: 20px;
}
.copyright {
	margin-top: 30px;
	text-align: center;
	font-size: 13px;
	color: #616161;
}
.copyright a {
	color: #616161;
	text-decoration: underline;
}
.scrollTop {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #343434;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
@media (max-width: 991px) {
	footer {
		padding: 30px;
		padding-bottom: 20px;
	}
	.adress img {
		display: none;
	}
	.icon__wrap .icon img {
		width: 70%;
	}
	.icon__wrap .icon {
		padding: 5px;
	}
	.social {
		max-width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}
	.icon__wrap {
		max-width: 175px;
	}
}
@media (max-width: 600px) {
	.social__text {
		display: none;
	}
	.footer__content {
		flex-direction: column;
		text-align: center;
		justify-content: center;
		margin-top: 40px;
	}
	.adress {
			order: 2;
	}
	.social {
		margin: 0;
		width: 100%;
		order: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.icon__wrap .icon {
		padding-top: 0;
	}
	.scrollTop {
		display: block;
	}
}
/* SUBPAGE */
.work__content {
	display: flex;
	flex-direction: row;
	max-width: 1650px;
margin: auto;
    padding: 0 53px;
}
.work h1 {
	font-size: 61px;
	font-weight: bold;
	color: black;
	font-style: bold;
	margin: 0;
	margin-bottom: 30px;
}
.work p {
	color: #7A7A7A;
	font-size: 16px;
	margin-bottom: 35px;
}
.work__photos {
	width: 60%;
}
.work__text {
	width: 40%;
	position: relative;
	padding-left: 80px;
}
.work__text--inner {
	width: 100%;
	max-width: 550px;
	margin: auto;
	position: sticky;
	top: 100px;
	left: 0;
	text-align: left;
}
.work__text--inner table {
	margin: 30px 0px;
}
.work__text--inner table td {
	font-size: 15px;
	color: #818181;
}
.work__text--inner table td:first-child {
	color: #1D1D1D;
	font-weight: 700;
	font-style: bold;
	padding-right: 50px;
}
.work__text--inner table  {
	line-height: 2.5;
}
.icon__wrap--share a:hover {
	text-decoration: none;
}
.icon__wrap--share a {
	padding: 5px;
}
.slider-page {
	background: #F8F8F8;
	padding: 35px 40px;
}
.slider-page__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.slider-page p {
	margin: 0;
}
.slider-page p, .slider-page a {
	text-transform: uppercase;
	font-style: bold;
	font-weight: 700;
	color: black;
	font-size: 16px;
	display: flex;
	align-items: center;
}
.slider-page a.next span {
	margin-right: 25px;
}

.slider-page a.prev span {
	margin-left: 25px;
}
.slider__content {
	display: flex;
    flex-direction: row;
    max-width: 1650px;
    margin: auto;
    padding: 0 53px;
}
.slider {
	padding: 60px 0px;
}
.work {
	padding-bottom: 50px;
}
.work__slider--item {
	-webkit-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.75);
		margin: 25px 0px;
		position: relative;
		transition: 1s all;
}
.work__slider--item .slider__image {
	transition: 0.5s all ease;
}
.work__slider--item:hover .slider__image {
	 filter: brightness(0.7);

}
.work__slider--item .text__content {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	padding: 20px 30px;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
		font-family: 'Roboto', sans-serif;
		opacity: 0;
			transition: 0.5s all ease;
}
.work__slider--item .text__content .left {
	color: white;
	font-weight: 700;
	font-style: bold;
	font-size: 15px;
	line-height: 1;
	transition: 0.5s all ease;
}
.work__slider--item .text__content .left p {
	margin: 0;
}
.work__slider--item .text__content .left span {
	font-size: 8px;
	font-weight: 400;
	font-style: normal;
	color: #818181;
	transition: 0.5s all ease;
}
.work__slider--item .text__content .right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}
.work__slider--item .text__content .right span {
	margin-right: 5px;
	color: white;
	font-style: bold;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 1.5px;
	transition: 0.5s all ease;
}
.work__slider--item .text__content .right img {
	width: unset;
	opacity: 0;
	 margin-bottom: 10px;
	 transition: 0.5s all ease;
}
.work__slider--item:hover .text__content  {
	opacity: 1;
}
.work__slider--item:hover .text__content .left {
	font-size: 35px;
}
.work__slider--item:hover .text__content .left span {
	font-size: 13px;
}
.work__slider--item:hover .text__content .right span {
	font-size: 16px;
}
.work__slider--item:hover .text__content .right img {
	opacity: 1;
}
.slider__content {
	display: flex;
	justify-content: space-between;
}
.work-nav {
	display: flex;
	justify-content: center;
	align-items: center;
}
.work-nav img {
	width: 13px;
}
.work__slider {
	max-width: 1450px;
	width: 90%!important;
}
.slider__heading {
	text-align: center;
}
.slider__heading h2 {
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: black;
}
.work__photos--item {
	margin: 20px 0px;
}
@media (max-width: 991px) {
	.slider {
		display: none;
	}
	.work__content {
		display: flex;
		flex-direction: column;
		padding: 0 30px;
	}
	.work__text {
		order: 1;
		width: 100%;
		padding: 0;
	}
	.work__text--inner {
		max-width: unset;
		padding-bottom: 30px;
	}
	.work__photos {
		order: 2;
		width: 100%;
	}
	.slider-page {
		padding: 35px;
	}
}
@media (max-width: 991px) {
	.slider-page {
		padding: 20px 10px;

	}
	.slider-page p {
		font-size: 12px;
	}
	.slider-page a {
		font-size: 12px;
	}
	.slider-page a.prev span {
		margin-left: 10px;
	}
	.slider-page a.next span {
		margin-right: 10px;
	}
}

/* contact */

.contact {
 padding: 100px 0 200px 0;
}
.map {
 height: 400px;
}
.map iframe {
 width: 100%;
 height: 400px;
}
.contact__content p {
 font-size: 15px;
 color: black;
 margin-top: 10px;
}
.contact__content {
	max-width: 500px;
	margin: auto;
}
.contact__part {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact__part a {
	color: black;
	line-height: 2.5;
	font-weight: 600;
}
